<h1><%= @passenger.name %></h1>

<h2>Flights</h2>
<section id="pax-flight-list">
  <% @passenger.flights.each do |flight| %>
  <%= link_to flight.id, "/flights/#{flight.id}"%>
  <% end %>
</section>

<section id="add-flight-form">
  <%= form_tag "/passengers/#{@passenger.id}" do %>
    <%= label_tag :flight_id %>
    <%= text_field_tag :flight_id %>
    <%= submit_tag "Add Flight" %>
  <% end %>
</section>
